<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.component.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JandreErasmuscv</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="#Home">Home</a></li>
      <li><a href="#About">About</a></li>
      <li><a href="#Sport">Sport</a></li>
      <li><a href="#Games">Games</a></li>
      <li><a href="#Employment History">Employment History</a></li>
    </ul>
  </nav>
  <section id="Home" class="sec1">
    <p>I believe that if life gives you lemons you should make lemonade and try to find somebody whose life has given them vodka and have a party</p>
    <p class = "SocialMedia">
      <a href="https://www.instagram.com/jandreerasmus/"><img src="../assets/images/InstagramLogo.PNG" alt="Instagram"></a>
      <a href="https://www.facebook.com/jandre.erasmus.90"><img src="../assets/images/FaceBookLogo.PNG" alt="Facebook"></a>
      <a href="https://twitter.com/JandreErasmus2"><img src="../assets/images/TwitterLogo.PNG" alt="Twitter"></a>
    </p>
    
  </section>
 
  <section id = "About" class="sec2content">
    <h1>About</h1>
    <h2>Hallo, I am Jandre Erasmus. I am currently a final year student studing for a degree in Information Technology at the North-West University.</h2>
    <p>I like to describe myself as a well rounded person. I have worked on a number of projects while I was busy studing at the University and as a student I don't define myself by the work that I have done, but to the work that I want to do, as I student to the craft, I want to keep learning new skills, challenge myself to become the best version of me that I possible can be.</p>
    <p>I like to think that I am a highly energetic person, fueled by curiosity to keep working on my craft and expand my skill set. I am passionate, expresive and a natural leader. I don't settle for anything other than perfection.</p>
    <p>My energetic personallity feuls me in the persuit of many of my interests, hobbies and my study. I am a fast learner that is not afraid to learn new skills and tools in my persuit for success.</p>
    <p>Through my years as a student, I have learned a lot of new skills, I have familiarize myself with a few of programming languages for example, Python, C++, C#, Java and I have tinkered with a few more. I have learned the necessary skill set to be ably do delegate a team to design, implement and maintain systems for new besinesses.</p>
    <p>I would like to become an expert in a wide variety of fields and I am striving to do that.</p>
    <p>As an example of my desire to widening my skill set, I have made this CV of myself using technologies I have not used in the past namely, Angular 10 which consists of HTML, CSS and typescript. I have enjoyed the experience using the new technology to broaden my skill set very much and can't wait to learn more of the technologies that are available to us in this modern age we live in.</p>
    <p>I thoroughly enjoy what I am doing and I will keep on widening my skill set to become a better programmer, manager or were ever I might find myself, all I know is wherever I will be I will always give a hundred and ten percent to achieve my goal.</p>
  </section>

  <section id = "Sport" class="sec3content">
    <h1>Sport</h1>
    <p>As I have mentioned above, I have a lot of hobbies and sport is definitely one of the important if not the most inportant one in my life. Through all of my life I have always been fond of sports. I played a lot of different sports and each one of them has learned my a valuable lesson.</p>
    <p>I played for my highschool's first team golf where we played in the glacier open in Bloemfontein in 2015 and what golf has teached me in the 7+ years that I played the game, is that you can't expect to see results straight away, there is a process that needs to be followed and this lesson I have carried over in every aspect of my life. You can't expect to see results straight away in anything you do, you need to be patient and keep a consistant work rate and before you know the results will come.</p>
    <p><img src="../assets/images/Golf.png" alt="GlacierOpen"></p>
    <p>I played for my highschool's first team cricket for 4 years, I received my O/19 National colours when I was in grade 11. I also played for Bothaville and Kroonstad cricket clubs.</p>
    <p>What I have learned through the years of playing cricket is that teamwork is vital for success, and that the team that works together, wins together. On the cricket field is where I have aquired and evolved my leadership qualities.</p>
    <p><img src="../assets/images/CricketNFS.png" alt="NationalColours"></p>
    <p>What I have learned through sport is that whatever you want to become is possible if you work hard for it and realise that success isn't an over night thing like a bomb that when you press the detenation button and BOOM, no it is more like a firework with a slow burning fuse, you are never quite sure when the grand finally will happen, but you know it's around the corner.</p>
  </section>
</body>
</html>