<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.component.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JandreErasmuscv</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="#Home">Home</a></li>
      <li><a href="#About">About</a></li>
      <li><a href="#Sport">Sport</a></li>
      <li><a href="#Employment History">Employment History</a></li>
      <li><a href="#Testimonials">Testimonials</a></li>
    </ul>
  </nav>
  <section id="Home" class="sec1">
    <br><br><br><br><br><h1>Hello, my name is Jandre Erasmus.</h1>
    <p><img src="../assets/images/avatar.jpg" alt="This is me"></p>
    
  </section>

  <section id = "About" class="content">
    <h1>A little about me</h1>
    <p>Since I was a young boy, I always wanted to become an IT specialist. I am currently a final year student at the North-West University. I am studing towards a bachelor's degree in information technology and also planning to study towards a Honnors degree.
      I am generally a go with the flow type guy, but when comes down to my work, that be designing building new websites or even systems, I become a real perfectionist.
    
  </section>

</body>
</html>